<%= link_to '***** 一蘭 *****', messages_path %>
<h1>show</h1>
<p><%= @message.content %></p>
<p><%= link_to "つぶやきを編集する", edit_message_path(@message.id) %></p>
<p><%= link_to "つぶやきを削除する", message_path(@message.id),method: :delete %></p>
