body{
  width: 600px;
  margin: 0 auto;
  border: solid;
  border-width: thin;
}
// .container {
//   position: relative;
//   height: 100%;
//   border: solid;
// }
.header {
  background-color: skyblue;
  height: 50px;
  font-size: 2rem;
  width: 100%;
}
.index_link {
  color: white;
  text-decoration: none;
}

// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
